<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="finger-print"></ion-icon>
    </button>
    <ion-title>Práctica</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 text-center>Elige una operación</h2>
  <form>
    <ion-list radio-group name='operacion' [(ngModel)]='operacion'>
      <ion-item>
        <ion-label>Sumar</ion-label>
        <ion-radio value="sumar" (ionSelect)="mostrarOperacion('sumar')"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Restar</ion-label>
        <ion-radio value="restar" (ionSelect)='mostrarOperacion("restar")'></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Multiplicar</ion-label>
        <ion-radio value="multiplicar" (ionSelect)="mostrarOperacion('multiplicar')"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Dividir</ion-label>
        <ion-radio value="dividir" (ionSelect)="mostrarOperacion('dividir')"></ion-radio>
      </ion-item>
    </ion-list>
    <div id="calculaccion" [ngStyle]="{'display': 'none'}" text-center>
      <p>
        <span id="operacionMostrada"></span>
        <input id="numero" type="number" placeholder="¿?" [(ngModel)]= 'numero' name="numero"/>        
      </p>
      <p>
        <button ion-button color=secondary type="submit" (click)="comprobarResultado()" [disabled]="comprobado">Comprueba</button>
      </p>
      <p>
        <button id="resultado" ion-button color='{{colorResultado}}'>
          {{resultado}}
        </button> 
        <span id="mensaje-resultado">&nbsp; &nbsp;{{mensajeResultado}}</span>
      </p>
      <p *ngIf="contador>=4">Llevas una racha de {{contador}} aciertos.</p>
      <img *ngIf="contador==4" src="assets/imgs/bob.jpg" >
      <img *ngIf="contador==8" src="assets/imgs/shinchan.jpg" >
    </div> 
  </form>
</ion-content>
