page-teoria {
  .botonera
  {
    ion-segment-button
    {
      height: 66px !important;
      line-height: .5rem !important;
      span
      {
        line-height: .5rem !important;
      }
    }
  }
}

